.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc

**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# esbuild
out/autocomplete.js
out/followLink.js
out/helper.js
out/hoverProvider.js
out/state.js
out/test/
pnpm-lock.yaml
pnpm-workspace.yaml
.prettierignore

__mocks__/**
tsconfig.test.json
